.card{
    background: whitesmoke;
    /* box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    border:1px groove gray;
}

.rc{
    color:red;
    /* font-weight: bold; */
}

.fa-circle{
    color:slategray;
    font-size:6px;
    position: relative;
    bottom:3px;
}

.headline{
    font-size:22px;
    font-weight: bold;
}
.headline a{
    text-decoration: none;
    color: rgb(36, 27, 27);
}

.headline a:hover{
    text-decoration: underline;
}
.snippet{
    font-size:18px;
}

.byline{
    color: grey;
}

.news{
   /* box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
   padding:20px;
   margin-bottom:20px;
   border:1px dashed slategray;
   border-radius: 10px;
}

.news-img{
    width:100%;
}

.search-header{
    font-size:20px;
}

.search-icon{
    position: relative;
    top:-3px;
}